{% load static %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
</head>
<body>
<header>
    <h1>Объявления</h1>
</header>

<h2>
    <div>
        <div><a href="{% url 'index' %}">Главная</a>
            <div><a href="{% url 'add' %}">Добавить</a></div>
            {% for i in rubric %}
            <a href="{% url 'by_rubric' i.pk %}">{{ i.name }}</a>
            {% endfor %}
        </div>
</h2>
<section>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</section>
</body>
</html>
