{% load static %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
</head>
<body>
<header>
    <h1>Объявления</h1>
</header>
<h2>
    <div>

        {% if request.user.is_authenticated %}
        <h4><font color="red">Добро пожаловать, {{ user.username }}</font></h4>
        <a href="{% url 'logout' %}"><font color="#0d6efd">Выход</font></a>
        <a href="{% url 'password_change' %}">Смена пароля</a>
        {% else %}
        <a href="{% url 'login' %}"><font color="#0d6efd">Вход</font></a>
        {% endif %}

        <div><a href="{% url 'index' %}">Главная</a>
            <div><a href="{% url 'add' %}">Добавить объявление</a></div>
            <div><a href="{% url 'rubrics' %}">Редкатор рубрик</a></div>
            <div>
                {% for i in rubric %}
                <a href="{% url 'bbs' i.pk %}">- {{ i.name }}</a>
                {% endfor %}
            </div>
            {% for i in rubric %}
            <a href="{% url 'by_rubric' i.pk %}">{{ i.name }}</a>
            {% endfor %}
        </div>
</h2>
<section>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</section>
</body>
</html>
